.projects {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #f9f9f9;
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.projects h2 {
    text-align: center;
    color: #ff0000;
    margin-bottom: 20px;
}

.projects p {
    text-align: center;
    margin-bottom: 20px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px #479bfc;
    text-align: center;
}

.project-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-item a {
    color: #ff0000;
}

.project-item img:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
    transition: 1s;
}

.project-item h3 {
    color: #ff0000 !important;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 14px;
    color: #000;
}
